.nav {
  background-color: rgba(104, 105, 99, 0.8);
  padding: 5px;
}
.text {
  font-size: 32px;
  color: #f1edee;
  margin: 10px 0;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
